header {
    background-image: url(https://static.vecteezy.com/ti/fotos-gratis/p2/1332412-fundo-de-planta-foto.jpg);
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    text-align: center;
    margin-top: 0px;
    color: rgb(255, 255, 255);
    font-family:papyrus;
}
body{
    background-color: rgb(4, 242, 32);
}
h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}